.app-header {
    background: #2ecc71;
    color: white;

    section.container {
        display: flex;
        align-items: center;

        h1.logo {
            flex-grow: 1;
            font-weight: 600;
        }

        .back {
            text-align: center;
            flex-grow: 1;
        }

        nav {

            a:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

}