.contact-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f252;
  backdrop-filter: blur(10px);


  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  >* {
    margin-top: 10px;
  }

  section.btn-group {
    display: flex;
    gap: 10px;

    button {
      grid-column: 2;
      justify-self: end;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      background-color: #2ecc71;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #3a9e64;
      }
    }
  }

  .transfer-fund {
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

    button {
      grid-column: 2;
      justify-self: end;
      padding: 6px 16px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      color: #000;
      background-color: #fff;
      cursor: pointer;
    }

    input {
      text-align: center;
      color: #fff;
      padding: 6px;
      font-size: 16px;
      margin-inline: 1rem;
      border-radius: 4px;
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #fff;
    }
  }
}